version: '3.7'

services:
  mysql:
    image: mysql:8.0.33
    container_name: mysql-nodejs
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: new_password
      MYSQL_DATABASE: node_
    ports:
     - "3308:3306"  
    volumes:
      - db:/var/lib/mysql
    networks: 
      - nodejss

  web:
    depends_on:
      - mysql
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
     - "3002:3002"
    volumes:
      - ~/Documents/KeepUpAngular/angular-node-api:/app
    restart: unless-stopped
    container_name: nodejs
    networks: 
      - nodejss

volumes:
  db:

networks:
  nodejss:
